html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background: var(--Main-Bg);
    color: #000000;
}

div,
button,
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

button,
._btn {
    cursor: pointer;
    border: none;
    background: none;
}

ul li {
    list-style: none;
}

.app {
    height: 100%;
    background: var(--Main-Bg);
}
.slick-prev,
.slick-next {
    top: 22% !important;
}

.slick-prev {
    left: 1150px !important;
}
.slick-next {
    left: 1210px !important;
}

@media (max-width: 1600px) {

    .slick-prev {
        left: 1060px !important;
    }
    .slick-next {
        left: 1120px !important;
    }
}
@media (max-width: 1420px) {
    .slick-prev {
        left: 880px !important;
    }
    .slick-next {
        left: 935px !important;
    }
}
@media (max-width: 1280px) {
    .slick-prev,
    .slick-next {
        top: 13% !important;
    }
}
@media (max-width: 1005px) {
    .slick-prev {
        left: 610px !important;
    }
    .slick-next {
        left: 660px !important;
    }
}
