.info {
    height: 1180px;
    padding-bottom: 100px;
}
.infoContainer {
    padding: 110px 150px 100px;
}
.infoDark {
    background: #161616;
    background-image: url('/image/bg-info-dark.png');
}
.infoLight {
    background: #eeeeee;
    background-image: url('/image/bg-info-light.png');
}

@media (max-width: 1280px) {
    .info {
        height: 1000px;
        padding-bottom: 0px;
    }
    .infoContainer {
        padding: 80px 20px 100px 20px;
    }
}
@media (max-width: 768px) {
    .info {
        height: 1400px;
        padding-bottom: 0px;
    }
    .infoContainer {
        padding: 80px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
