.header {
    padding: 20px 150px;
}
.headerNone {
    background: #00000000;
}
.headerDark {
    background: #161616;
    background-image: url('/image/bg-info-dark.png');
}
.headerLight {
    background: #eeeeee;
    background-image: url('/image/bg-info-light.png');
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogo {
    z-index: 2;
}
.headerRight {
    display: flex;
    gap: 89px;
}
.headerNavBar {
    display: flex;
    align-items: center;
    gap: 30px;
}
.headerNavBar a {
    color: var(--Text-80);
    font-family: 'Satoshi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.headerOptions {
    display: flex;
    gap: 15px;
}
.changeBackColor {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    position: relative;
    height: 24px;
    gap: 4px;
    width: 60px;
    background: var(--Main-Button-Background);
    border-radius: 20px;
    border: 1px solid var(--Main-100);
}
.changeBackColor input[name='mode'] {
    display: none;
}
.changeBackColor input[name='mode'] + label {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #555;
}
.changeBackColor input[name='mode']:checked + label {
    transform: rotateX('left');
    background: green;
}
.changeButtonLight {
    position: absolute;
    background: var(--Main-Button-Background-Light);
    transition: all 0.2s ease;
    transform: translateX(-58%);
    border-radius: 20px;
    width: 28px;
    height: 23px;
}
.changeButtonLight:active {
    background: var(--Main-Button-Background-Light);
    border-radius: 20px;
}
.changeButtonDark {
    position: absolute;
    background: var(--Main-Button-Background-Dark);
    transition: all 0.2s ease;
    transform: translateX(58%);
    border-radius: 20px;
    width: 28px;
    height: 23px;
}
.changeButtonDark:active {
    background: var(--Main-Button-Background-Dark);
    border-radius: 20px;
}
.changeButton {
    z-index: 2;
}

@media (max-width: 1024px) {
}
