.footer {
    display: flex;
    flex-direction: column;
}
.footerContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px 150px;
}
.footerDown {
    display: flex;
    gap: 89px;
}
.footerDownLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerDownLeftText {
    color: var(--Text-100);
    font-family: 'Satoshi';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.footerDownLeftHeading {
    color: var(--Text-100);
    font-family: 'Magilio';
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.footerDownCenter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerDownCenterText {
    width: 508px;
    color: var(--Text-80);
    font-family: 'Satoshi';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.footerDownCenterMessage {
    display: flex;
    align-items: center;
    gap: 22px;
}
.footerAnchor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footerCreatedBy {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border-top: 1px solid var(--Main-20);
}
.footerCreatedBy span {
    color: var(--Text-50);
    font-family: 'Satoshi';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media (max-width: 1280px) {
    .footerContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px 20px;
    }
    .footerDown {
        display: flex;
        gap: 68px;
    }
    .footerDownCenter {
        gap: 10px;
    }
    .footerDownLeftHeading {
        font-size: 60px;
    }
    .footerDownLeftText {
        font-size: 16px;
    }
    .footerDownCenterText {
        width: 227px;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .footerContainer {
        justify-content: center;
        margin-top: 4px;
    }
    .footerDown {
        flex-direction: column;
        gap: 10px;
    }
    .footerDownLeftHeading {
        font-size: 42px;
    }
    .footerDownLeftText {
        font-size: 14px;
    }
    .footerDownCenterText {
        width: 290px;
    }
}
