.projectCards {
    display: flex;
    flex-direction: column;
}
.projectCardsUp {
    margin-top: 115px;
    margin-bottom: 20px;
}
.projectCardsHeading {
    color: var(--Text-100);
    font-family: 'Magilio';
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.projectCardsItem {
    display: flex;
    flex-direction: column;
    width: 508px;
    height: 438px;
    border-radius: 12px;
    background: var(--Main-Blue-Cards);
    transition: all 0.2s ease;
    border: 1px solid var(--Main-50);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1),
        -1px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.projectCardsItem:hover a {
    opacity: 1;
}
.projectCardsItem:hover span {
    opacity: 0;
}
.projectCardsImgBox {
    height: 478px;
    height: 330px;
    overflow: hidden;
}
.projectCardsImgBox img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}
.projectCardsItem:hover img {
    transform: scale(1.03);
}
.projectCardsBottomBox {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.projectCardsBottomHeading {
    color: var(--Text-100);
    font-family: 'Satoshi';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
.projectCardsBottomBox a {
    opacity: 0;
    z-index: 2;
    overflow: hidden;
    color: var(--Text-100);
    text-overflow: ellipsis;
    font-family: 'Satoshi';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: all 0.2s ease;
}
.projectCardsBottomBox span {
    position: absolute;
    bottom: 24px;
    overflow: hidden;
    color: var(--Text-100);
    text-overflow: ellipsis;
    font-family: 'Satoshi';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: all 0.2s ease;
}
.projectCardsBottomBox a:hover {
    color: var(--Text-50);
}
