.projectPageContainer {
    min-height: 630px;
}

.projectPageContainerDark {
    background: #161616;
    background-image: url('/image/bg-info-dark.png');
}
.projectPageContainerLight {
    background: #eeeeee;
    background-image: url('/image/bg-info-light.png');
}
@media (max-width: 1024px) {
    .projectPageContainer {
        min-height: 550px;
    }
}
@media (max-width: 768px) {
    .projectPageContainer {
        min-height: 550px;
    }
}
